{%if addTarget != null and addTarget == 1%}
    <div id="{{target}}"></div>
{%endif%}

<script>
    
$(function () {

    // Add the background image to the container
    /*Highcharts.wrap(Highcharts.Chart.prototype, 'getContainer', function (proceed) {
        proceed.call(this);
        this.container.style.background = 'url(http://www.highcharts.com/samples/graphics/sand.png)';
    });*/
   
    $('#{{target}}').highcharts( {{data|raw}});

});     
</script>